/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------------------------------------------------------------------- */
/* ! General e utility */
/* -------------------------------------------------------------------------------- */
body {
    font-family: "Prompt", sans-serif;
    background-color: #444;
}

.d-none {
    display: none;
}

/* -------------------------------------------------------------------------------- */
/* ! Header */
/* -------------------------------------------------------------------------------- */
header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-color: #ccc;
}

#btn {
    background-color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

/* -------------------------------------------------------------------------------- */
/* ! Grid */
/* -------------------------------------------------------------------------------- */
main {
    margin-top: 3rem;
}

.grid {
    width: 650px;
    height: 650px;
    margin: 0 auto;
    border: 2px solid #fff;
}

.cell {
    height: calc(100% / 10);
    width: calc(100% / 10);
    float: left;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}

.clicked {
    background-color: red;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}